// colors

$menu_color:rgba(250,250,250 ,1); // blue
$hoverMenu: transparent; // red
$menuIcoText_color: #fff; // white
$nav_arrow_color: rgba(189,189,189,.70);
$nav_arrow_hover_color: rgba(150,150,150,.9);

$label_color: rgba(66,66,66,1);

// fonts 

// colors

$header_color: #5d4037;
$arrow_header: #5d4037;
$text_color: #fff;
$link_color:#fff;
// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//header height

$header-height-S: 50px;
$header-height-M: 80px;

// z-index 

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;


$color_menu: #bdbdbd;
$secondary_navLink: #000;
$nav_bgc: #fff;
$nav_is_open_bgc: rgba(255,255,255,.5);
$header_bgc: rgba(2, 23, 37, 0.95);
$scrolledUP_bgc: rgba(2, 23, 37, 0.96);
$menu_icon_color: #757575;
$primary_nav_bgc: rgba(2, 23, 37, 0.96);
$label_color_nav: #fff;

// Hover effect colors 
$hover_effect:  lighten(grey, 1);
