@import "bourbon/bourbon";
@font-face {
    font-family: 'Montserrat-Light';
    src: url(/fonts/Montserrat/Montserrat-Light.otf) format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Hairline';
    src: url(/fonts/Montserrat/Montserrat-Hairline.otf) format('otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(/fonts/Montserrat/Montserrat-Bold.otf) format('otf');
    font-weight: 700;
    font-style: normal;

}


