// ---------------------
//  CONTENT
// ---------------------

.slider-container {
	width: 73rem;
	margin: 0 auto;
}

.one {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background-color: #ffe1bd;
	text-transform: lowercase;
	h3 {
		font-size: 3rem;
	}
	.border {
		width: 50px;
		border-bottom: 2px #000 solid;
		padding-top: 20px;
	}
	p {
		font-size: 1.5rem;
		text-align: center;
		padding-top: 20px;
		span {
			display: inline;
		}
		span::before {
			content: "\a ";
			white-space: pre;
		}
	}
}

a {
	font-size: 0.9rem;
	color: #fff;
	text-decoration: none;
}

.slider-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 40px;
	background-color: #000;
	border-radius: 50px;
	margin-top: 100px;
}