<%@images.each do |image|%>
<div class="slider_content">
    <img src="images/<%=image%>" alt="We are clemo">
    <div id = "txtSlider" class="text_slider">
    <h2>we are clemo.</h2>
    <p class="p_content">professionals<br>in the creative industries</p>
    <a class="btn_get_in">get in touch</a>
    </div>
</div>
<%end%>